h1 {
    color: rgb(216, 51, 51);
    font-family: 'Fugaz One', cursive;
    font-style: italic;
}
h2 {
    color: rgb(238, 77, 77);
    font-family: 'Edu NSW ACT Foundation', cursive;
}
ol {
    color: rgb(102, 16, 16);
    font-family: 'Josefin Sans', sans-serif;
}
#style {
    font-family: 'Edu NSW ACT Foundation', cursive;
    text-decoration: underline;
}
ul {
    color: rgb(102, 16, 16);
    font-family: 'Nanum Gothic Coding', monospace;
    letter-spacing: .4rem;
}
p {
    color: rgb(87, 79, 79);
}